home-description = ロックマンエグゼチップ情報
home-different-language = chiplibrary is also available in <a href="{$base_url}/index.en.html">english</a>!
home-game-entry = <a href="{$url}">{$game_name}</a>（<a href="{$by_code_url}">コード順</a>、<a href="{$by_element_url}">系統順</a>）
home-bugtracker-info = 情報が正しくない場合は、<a href="https://gitlab.com/bntools/chiplibrary/issues" target="_blank">こちらにご報告ください</a>。
home-credits-title = クレジット
home-credits-body =
    <ul>
        <li><a href="https://github.com/chrisrsantiago/chiplibrary-data" target="_blank">github.com/chrisrsantiago/chiplibrary-data</a>：ほとんどの元情報</li>
        <li><a href="https://github.com/Prof9/TextPet" target="_blank">github.com/Prof9/TextPet</a>：ゲームテキスト抽出ツール</li>
        <li><a href="https://www.sprites-inc.co.uk" target="_blank">sprites-inc.co.uk</a>：EXE1チップアイコン</li>
        <li><a href="https://megaman.fandom.com" target="_blank">megaman.fandom.com</a>：雑多な情報</li>
    </ul>

game-view-by-hint = <a href="{$by_code_url}">コード順</a>、<a href="{$by_element_url}">系統順</a>にソートすることもできます。

lang-self = 日本語

chips-title = {$game_name}のチップ
chips-by-code-title = コード順にソートされた{$game_name}のチップ
chips-by-element-title = 系統順にソートされた{$game_name}のチップ

chip-class-standard = スタンダード
chip-class-mega = メガ
chip-class-giga = ギガ
chip-class-secret = シークレット
chip-class-dark = ダーク
chip-class-special = 固有
chip-class-capsule = カプセル
chip-pa = プログラムアドバンス

chip-element-null = 無
chip-element-fire = 炎
chip-element-aqua = 水
chip-element-elec = 電気
chip-element-wood = 木
chip-element-sword = ソード
chip-element-wind = 風
chip-element-cursor = カーソル
chip-element-break = ブレイク
chip-element-terrain = 地形破壊
chip-element-obstacle = 置物
chip-element-recovery = リカバリー
chip-element-invisible = インビジブル
chip-element-plus = 数値付加

back-to-top = ↑ トップへ戻る
